
openapi: 3.0.1
info:
  title: Core Registry Services REST API
  description: This API provides the required operations to manipulate EPP objects in .fr
  contact:
    name: Afnic
    url: 'https://www.afnic.fr'
    email: support@afnic.fr
  license:
    name: Afnic
    url: 'https://www.afnic.fr'
  version: v1
servers:
  - url: 'https://api-sandbox.nic.fr'
    description: Generated server url
paths:
  /v1/domains:
    get:
      tags:
        - domain-registrar-controller
      summary: List registrar's sponsored domains
      operationId: getDomains_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: research
          in: query
          description: string to make a specific search on the domainSearchField
        - name: domainSearchField
          in: query
          description: item you want to search on
          schema:
            default: DOMAIN
            enum:
              - DOMAIN
              - CONTACT
              - HOST
              - CONTACT_REGISTRANT
        - name: stringSearchType
          in: query
          description: search operator
          schema:
            default: LIKE
            enum:
              - EQUALS
              - LIKE
              - START_WITH
              - END_WITH
        - name: startDate
          in: query
          description: define a start date on the domainDateField
        - name: endDate
          in: query
          description: define an end date on the domainDateField
        - name: domainDateField
          in: query
          description: type of date you want to search on
          schema:
            default: CREATION_DATE
            enum:
              - CREATION_DATE
              - UPDATE_DATE
              - EXPIRATION_DATE
        - name: page
          in: query
          description: specify the page number you want to retrieve
        - name: pageSize
          in: query
          description: specify the number of elements by page
        - name: sortAttribute
          in: query
          description: specify the sorting parameter
          schema:
            enum:
              - NAME
              - CREATION_DATE
              - EXPIRATION_DATE
        - name: sortDirection
          in: query
          description: specify the sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListRegistrarResponseDto'
      security:
        - keycloak: []
    post:
      tags:
        - domain-registrar-controller
      summary: Create a Domain object
      operationId: create_12_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (SECDNS_V1_1 to manage dnssec / FEE_V1 to manage fees)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
               - SECDNS_V1_1
               - FEE_V1
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Domain object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreateDto'
            examples:
              create1:
                summary: create a domain
                value: {"authorizationInformation":"Test123456789","contacts":[{"clientId":"CTC42848","role":"ADMINISTRATIVE"},{"clientId":"CTC42849","role":"TECHNICAL"}],"durationInYears":"1","name":"example.fr","registrantClientId":"CTC42847"}
              create2:
                summary: create a domain with hosts
                value: {"authorizationInformation":"Test123456789","nameServers":["ns1.example.org","ns2.example.org"],"contacts":[{"clientId":"CTC42990","role":"ADMINISTRATIVE"},{"clientId":"CTC42990","role":"TECHNICAL"}],"durationInYears":1,"name":"example.fr","registrantClientId":"CTC42990"}
              create3:
                summary: create a domain with an authorization code (authorization code in authinfo field)
                value: {"authorizationInformation":"YL0X9mC3eU2ZUUXWX0UDMRjhlVHX3qKC","contacts":[{"clientId":"CTC43942","role":"ADMINISTRATIVE"},{"clientId":"CTC43942","role":"TECHNICAL"}],"durationInYears":"1","name":"reserved-name.fr","registrantClientId":"CTC43942"}              
              create4:                
                summary: create a domain with fee (FEE_V1 extension required)               
                value: {"authorizationInformation":"Test123456789","contacts":[{"clientId":"CTC43011","role":"ADMINISTRATIVE"},{"clientId":"CTC43012","role":"TECHNICAL"}],"durationInYears":"1","name":"example.fr","registrantClientId":"CTC43010","extensions":{"fee":{"currency":"EUR","value":29.99}}}
              create5:
                summary: create a domain with 1 dnssec and 1 host (SECDNS_V1_1 extension required)
                value: {"authorizationInformation":"Test123456789","nameServers":["ns1.example.net"],"contacts":[{"clientId":"CTC42977","role":"ADMINISTRATIVE"},{"clientId":"CTC42977","role":"TECHNICAL"}],"durationInYears":"1","name":"example.fr","registrantClientId":"CTC42977","extensions":{"dnsSec":[{"keyTag":11627,"algorithm":"RSASHA256","digestType":"SHA256","digest":"2C1BF38D591521CF0ABC7FECFEC11E95BC2F6BE83F2CD6623BB606C51D2EFB3A"}]}}
        required: true
      responses:
        '201':
          description: Successfully created Domain object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCreateResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: 'Not found, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
    patch:
      tags:
        - domain-registrar-controller
      summary: Update a domain (restore included)
      operationId: update_19_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (SECDNS_V1_1 to manage dnssec / FEE_V1 to manage fees / RGP_V1 to manage grace periods - restore operation)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - SECDNS_V1_1
                - FEE_V1
                - RGP_V1
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Domain object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateRegistrarDto'
            examples:
              update1:
                summary: adding hosts to the domain
                value: {"name":"example.fr","nameServersToAdd":["ns3.example.org"]}
              update2:
                summary: adding and removing hosts to the domain
                value: {"name":"example.fr","nameServersToRemove":["ns.example.fr"],"nameServersToAdd":["ns1.test.fr"]}
              update3:
                summary: change the registrant contact
                value: {"name":"example.fr","registrantClientId":"CTC277"}
              update4:
                summary: adding and removing administrative contact
                value: {"name":"example.fr","contactsToRemove":[{"clientId":"CTC268","role":"ADMINISTRATIVE"}],"contactsToAdd":[{"clientId":"CTC269","role":"ADMINISTRATIVE"}]}
              update5:
                summary: adding and removing dnssec key (SECDNS_V1_1 extension required)
                value: {"name":"example.fr.fr","extensions":{"dnsSec":{"keysToAdd":[{"keyTag":"31609","algorithm":"DSA","digestType":"GOST","digest":"509646F67513C72ECB24680DD640496837BEB9DF10D58A64D255581FB8651976"}],"keysToRemove":[{"keyTag":55072,"algorithm":"RSASHA1","digestType":"SHA256","digest":"47754C3858DDCA47FC31EBBE2E1EC3961F9C899B2917F3D8A7BFB6F8D57D2162"}]}}}              
              update6:
                summary: adding EPP client status
                value: {"name":"example.fr","eppStatusesToAdd":["CLIENT_TRANSFER_PROHIBITED"]}
              restore:
                summary: restore a domain name in redemption period (RGP_V1 extension required)
                value: {"name":"example.fr","extensions":{"rgp":{"type":"REQUEST"}}}
        required: true
      responses:
        '200':
          description: Successfully updated domain object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainUpdateRegistrarResponseDto'
        '400':
          description: 'Bad request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '404':
          description: 'Not found, please check your command'
          content:
            application/json:
              schema:
                type: string
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/domains/{domainName}:
    delete:
      tags:
        - domain-registrar-controller
      summary: Delete a domain object
      operationId: delete_12_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: domainName
          in: path
          description: name of the domain object to be deleted
          required: true
          schema:
            type: string
        - name: extensions
          in: header
          description: specify an EPP extension if needed (FEE_V1 to manage fees)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
               - FEE_V1
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Request to delete the Domain object has successfully been treated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDeleteResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/check:
    post:
      tags:
        - domain-registrar-controller
      summary: Check domain name's availability
      operationId: check_3_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (FRNIC_V2 to manage .fr specific data / FEE_V1 to manage fees)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - FRNIC_V2
                - FEE_V1
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain names to look for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCheckDto'
            examples:
              check1:
                summary: An example of domain check with one domain name
                value: {"names": ["example.fr"]}
              check2:  
                summary: An example of domain check with several domain names
                value: {"names": ["example.fr","example2.fr","example3.fr"]}
        required: true
      responses:
        '200':
          description: Successfully check for domain name's availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCheckResponseDto'
        '400':
          description: 'Bad request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/domains/transfers:
    get:
      tags:
        - domain-registrar-controller
      summary: List domain transfers
      operationId: transferList_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: domain
          in: query
          description: string which relate to the domain name you want to search
        - name: stringSearchType
          in: query
          description: operator of the domain search
          schema:
            default: LIKE
            enum:
              - EQUALS
              - LIKE
        - name: transferStatus
          in: query
          description: type of transfer status you want to search
          schema:
            enum:
              - CLIENT_APPROVED
              - CLIENT_CANCELLED
              - CLIENT_REJECTED
              - PENDING
              - SERVER_APPROVED
              - SERVER_CANCELLED
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            default: NAME
            enum:
              - NAME
              - CREATION_DATE
              - UPDATE_DATE
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: registrarRole
          in: query
          description: role of the registrar in the transfer - ACTING = Outgoing registrar / REQUESTING = Ingoing registrar
          schema:
            enum:
              - ACTING
              - REQUESTING
        - name: page
          in: query
          description: select the page number you want
        - name: pageSize
          in: query
          description: select the number of elements by page
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully executed transfer operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTransferListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
    post:
      tags:
        - domain-registrar-controller
      summary: Transfer domain operations
      operationId: transfer_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (FRNIC_V2 to manage .fr specific data / FEE_V1 to manage fees)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: stringstring
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Domain transfer command
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainTransferDto'
            examples:
              transfer1:
                summary: requesting a domain transfer (FRNIC_V2 needed)
                value: {"operation":"REQUEST","name":"example.fr","durationInYears":1,"authorizationInformation":"Test123456789","extensions":{"frnic":{"keepDnsSec":0,"contacts":[{"clientId":"CTC1137","role":"ADMINISTRATIVE"},{"clientId":"CTC1137","role":"TECHNICAL"}]}}}
              transfer2:
                summary: requesting a domain with fees extension (FRNIC_V2 needed and FEE_V1 needed)
                value: {"operation":"REQUEST","name":"auto-bar-210518-large-baton-beni-de-la-defaite.afnic","durationInYears":1,"authorizationInformation":"Test123456789","extensions":{"frnic":{"keepDnsSec":0,"contacts":[{"clientId":"CTC1137","role":"ADMINISTRATIVE"},{"clientId":"CTC1137","role":"TECHNICAL"}]},"fee":{"currency":"EUR","value":5.07}}}
        required: true
      responses:
        '201':
          description: Successfully executed transfer operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTransferResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/{name}:
    get:
      tags:
        - domain-registrar-controller
      summary: Get information on a domain
      operationId: info_25_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: name
          in: path
          description: Domain name to get information on
          required: true
          schema:
            type: string
        - name: hostsType
          in: query
          description: >-
            Hosts attribute is available to control return of information
            describing hosts related to the domain object.
          required: false
          schema:
            default: ALL
        - name: authInfo
          in: header
          description: Authorization information associated with the domain object
          required: false
          schema:
            type: string
        - name: extensions
          in: header
          description: specify an EPP extension if needed (SECDNS_V1_1 to manage dnssec / RGP_V1 to manage grace periods)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Domain found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInfoResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/renew:
    post:
      tags:
        - domain-registrar-controller
      summary: Renew domain operations
      operationId: renew_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (FEE_V1 to manage fees)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Domain renew command
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRenewDto'
            examples:
              renew1:
                summary: renew a domain for 1 year
                value: {"name":"example.fr","currentExpirationDate":"2022-05-17","durationInYears":"1"}
              renew2:
                summary: renew a domain for 1 year with fee extension (FEE_V1 is needed)
                value: {"name":"example.fr","currentExpirationDate":"2022-05-17","durationInYears":"1","extensions":{"fee":{"currency":"EUR","value":5.07}}}
        required: true
      responses:
        '201':
          description: Successfully executed renew domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRenewResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/associated-to-host/{hostName}:
    get:
      tags:
        - domain-registrar-controller
      summary: List domain associated to host
      operationId: getDomainsAssociatedToHost_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: hostName
          in: path
          description: name of the host you want to retrieve domain names associated
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            enum:
              - NAME
              - CREATION_DATE
              - EXPIRATION_DATE
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DomainListAssociatedToHostRegistrarResponseDto
      security:
        - keycloak: []
  /v1/domains/{domainRoid}/operation-history:
    get:
      tags:
        - domain-registrar-controller
      summary: List operations processed on a domain
      operationId: getDomainHistoryOperations_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: domainRoid
          in: path
          description: Domain roid to get history operation
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            enum:
              - REQUEST_DATE
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully retrieved operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectHistoResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/exports:
    post:
      tags:
        - domain-registrar-controller
      summary: Export registrar's sponsored domains - same parameters of the domain list but in the request body
      operationId: export_7_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Domain export request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainExportRegistrarRequestDto'
            examples:
              export1:
                summary: export all domain names with columns by default
                value: {"csvSeparator": ";","fileName": "test.csv"}
              export2:
                summary: export domain names with test in the name, ascending sort by creation date and specific columns
                value: {"csvSeparator": ";","fileName": "test.csv","propertiesOrder": ["NAME","CREATION_DATE","EXPIRATION_DATE","AUTHORIZATION_INFORMATION","REGISTRANT"],"research": "test","domainSearchField": "DOMAIN","stringSearchType": "LIKE"}
              export3:
                summary: example to know all the column names
                value: {"csvSeparator": ";","fileName": "test.csv","propertiesOrder": ["NAME","CREATION_DATE","EXPIRATION_DATE","AUTHORIZATION_INFORMATION","REGISTRANT","ADMINISTRATIVE_CONTACTS","TECHNICAL_CONTACTS","HOST_NAMES","LIMITATION","WHOIS_STATUS"]}
        required: true
      responses:
        '200':
          description: Successfully started export creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainExportRegistrarResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/registrar/registry-lock/domains:
    get:
      tags:
        - registry-lock-domain-registrar-controller
      summary: List registrar's registry locked domains
      operationId: list_14_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: search
          in: query
          description: value for the searchField
        - name: searchField
          in: query
          description: type of field you want to search on
          schema:
            default: DOMAIN_NAME
            enum:
              - DOMAIN_NAME
              - REGISTRANT_CLIENT_ID
        - name: stringSearchType
          in: query
          description: operator of search
          schema:
            default: LIKE
            enum:
              - EQUALS
              - LIKE
        - name: dateField
          in: query
          description: if you want to search with date
          schema:
            default: CREATION_DATE
            enum:
              - TEMPORARY_UNLOCK_DATE
              - CREATION_DATE
              - UPDATE_DATE
        - name: startDate
          in: query
          description: specify a starting date for your search with dateField
        - name: endDate
          in: query
          description: specify an ending date for your search with dateField
        - name: status
          in: query
          description: status of the registry lock
          schema:
            enum:
              - LOCKED
              - TEMPORARY_UNLOCK
              - EMERGENCY_TEMPORARY_UNLOCK
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            enum:
              - DOMAIN_NAME
              - TEMPORARY_UNLOCK_DATE
              - CREATION_DATE
              - UPDATE_DATE
              - STATUS
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RegistryLockDomainListRegistrarResponseDto
      security:
        - keycloak: []
  /v1/registrar/registry-lock/domains/{domainName}/relock:
    patch:
      tags:
        - registry-lock-domain-registrar-controller
      summary: Relock unlocked temporary domain
      operationId: relock_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: domainName
          in: path
          description: Domain name to relock
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully executed command
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RegistryLockDomainRelockRegistrarResponseDto
        '400':
          description: 'Bad request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '404':
          description: 'Not found, please check your command'
          content:
            application/json:
              schema:
                type: string
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/registrar/crm/ip-whitelisting/{version}/{ip}:
    delete:
      tags:
        - ip-whitelisting-registrar-controller
      summary: Delete an IP from your whitelist
      operationId: delete_15_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: ip
          in: path
          description: The IP to delete
          required: true
        - name: version
          in: path
          description: The version of the IP (V4 or V6)
          required: true
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpWhitelistingDeleteRegistrarRequestDto'
      responses:
        '200':
          description: Successfully delete ip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpWhitelistingDeleteRegistrarRequestDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: 'Not found, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/registrar/crm/ip-whitelisting:
    get:
      tags:
        - ip-whitelisting-registrar-controller
      summary: List the IP addresses in IP whitelist
      operationId: list_16_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully list whitelist IP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpWhitelistingListRegistrarResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
    post:
      tags:
        - ip-whitelisting-registrar-controller
      summary: Add an IP address to IP whitelist
      operationId: create_16_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Ip address object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpWhitelistingCreateRegistrarRequestDto'
            examples:
              addv4:
                summary: adding an IPV4 to your whitelist
                value: {"ip": "110.111.112.113","version": "V4"}
              addv6:
                summary: adding an IPV6 to your whitelist
                value: {"ip": "8f31:1234:1293:1360:1234:1234:84c4:ae7","version": "V6"}
        required: true
      responses:
        '201':
          description: Successfully added IP to IP whitelist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpWhitelistingCreateRegistrarResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/poll:
    get:
      tags:
        - poll-registrar-controller
      summary: Get the first message from the POLL
      operationId: get_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: POLL message has been returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponseDto'
            text/plain:
              schema:
                $ref: '#/components/schemas/PollResponseDto'
        '204':
          description: No messages in queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponseDto'
            text/plain:
              schema:
                $ref: '#/components/schemas/PollResponseDto'
        '500':
          description: Problem to get message from POLL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
            text/plain:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/poll/count:
    get:
      tags:
        - poll-registrar-controller
      summary: Get the number of messages in POLL
      operationId: getCount_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: The number of messages in POLL as been returned
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '500':
          description: Problem to return the number of messages in POLL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/poll/{id}:
    delete:
      tags:
        - poll-registrar-controller
      summary: Acknowledge the first message from the POLL
      operationId: ack_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: id
          in: path
          description: Message identifier that must be acknowledged
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: POLL message has been acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollAckResponseDto'
            text/plain:
              schema:
                $ref: '#/components/schemas/PollAckResponseDto'
        '404':
          description: 'No messages in queue with identifier '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollAckResponseDto'
            text/plain:
              schema:
                $ref: '#/components/schemas/PollAckResponseDto'
        '500':
          description: Problem to ack message from POLL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
            text/plain:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/hosts:
    get:
      tags:
        - host-registrar-controller
      summary: List registrar's sponsored hosts
      operationId: getHosts_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: name
          in: query
          description: name of the host you want to search (like operator)
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            enum:
              - NAME
              - CREATION_DATE
              - UPDATE_DATE
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostListResponseDto'
      security:
        - keycloak: []
    post:
      tags:
        - host-registrar-controller
      summary: Create a host object
      operationId: create_20_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Host object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostCreateDto'
            examples:
              host1:
                summary: internal host without IP address
                value: {"name":"dns.example.fr"}
              host2:
                summary: external host
                value: {"name":"ns1.example.com"}
              host3:
                summary: internal host with one IPv4
                value: {"ipAddresses":[{"ip":"106.12.170.3","version":"V4"}],"name":"ns1.example.fr"}
              host4:
                summary: internal host with two IPv6
                value: {"ipAddresses":[{"ip":"ba9c:4797:e7ce:9114:e650:93c0:64ae:5019","version":"V6"},{"ip":"2:9320:3286:5618:6bf7:df61:a91:1130","version":"V6"}],"name":"ns2.example.fr"}
        required: true
      responses:
        '201':
          description: Successfully created host object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostCreateResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
    patch:
      tags:
        - host-registrar-controller
      summary: Update a host object
      operationId: update_26_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Host object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostUpdateDto'
            examples:
              hostupdate1:
                summary: changing the name of a host (beware of publication dns impact)
                value: {"name":"vinal.auto-man-220701-ancien-baton-vert-du-troll-marin.org","newName":"zabel.auto-man-220701-hache-en-resine-de-l-air.org"}
              hostupdate2:
                summary: adding a clientUpdateProhibited to protect the host
                value: {"name":"dubet.auto-man-220719-ancien-crane-empoisonne.org","addEppStatuses":["clientUpdateProhibited"]}
              hostupdate3:
                summary: adding an IPv4 address
                value: {"name":"zawux.auto-man-220520-glorieux-arc-beni-du-mulot-ninja.fr","addIpAddresses":[{"ip":"45.223.175.37","version":"V4"}]}
              hostupdate4:
                summary: adding an IPv4 address and removing an IPv4 address
                value: {"name":"zilab.auto-man-220621-prodigieuse-hache-rouge-de-lave.fr","addIpAddresses":[{"ip":"163.47.35.58","version":"V4"}],"removeIpAddresses":[{"ip":"99.172.74.1","version":"V4"}]}
        required: true
      responses:
        '200':
          description: Successfully updated host object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostUpdateResponseDto'
        '400':
          description: 'Bad request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: 'Not found, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/hosts/{name}:
    get:
      tags:
        - host-registrar-controller
      summary: Get information on a host object
      operationId: info_39_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: name
          in: path
          description: Host name to get information on
          required: true
          schema: {}
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Host found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostInfoResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: Host not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
    delete:
      tags:
        - host-registrar-controller
      summary: Delete a host object
      operationId: delete_17_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: name
          in: path
          description: host name that needs to be deleted
          required: true
          schema: {}
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Host deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostDeleteResponseDto'
        '400':
          description: Cannot handle request because of business rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: Host not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/hosts/check:
    post:
      tags:
        - host-registrar-controller
      summary: Check host names availability
      operationId: check_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Host names we want to check for their availability
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostCheckDto'
            examples:
              hostcheck1:
                summary: checking the availability of a host name
                value: {"hostNames":["xezel.auto-man-220520-petite-epee-de-saphir-de-la-mort.fr"]}
        required: true
      responses:
        '200':
          description: Successfully check for host's names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostCheckResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/hosts/export-associated-domain-names:
    post:
      tags:
        - host-registrar-controller
      summary: Export associated domain from host
      operationId: exportDomainsNames_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Domain export request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostAssociatedNamesExportRegistrarRequestDto'
            examples:
              domainhostexport1:
                summary: export all your domain names associated to a specific host - ROID of the host is available in host info
                value: {"csvSeparator": ";","fileName": "domain-names-host.csv","repositoryObjectId":"HOST292205-FRNIC"}
        required: true
      responses:
        '200':
          description: Successfully started export creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostAssociatedDomainExportRegistrarResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/hosts/exports:
    post:
      tags:
        - host-registrar-controller
      summary: Export host list
      operationId: export_9_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: name
          in: query
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Host export request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostExportRegistrarRequestDto'
            examples:
              hostexport1:
                summary: export all your hosts
                value: {"csvSeparator": ";","fileName": "test-export-host.csv"}
              hostexport2:
                summary: export all the hosts with test in the name with specific columns
                value: {"csvSeparator": ";","fileName": "test-export-host.csv","propertiesOrder":["HOST_NAME","IP_ADDRESSES"],"name":"test"}
              hostexport3:
                summary: example to list all the columns available
                value: {"csvSeparator": ";","fileName": "test-export-host.csv","propertiesOrder":["HOST_NAME","IP_ADDRESSES","CREATION_DATE","UPDATE_DATE","TRANSFER_DATE","REGISTRAR_CREATOR","REGISTRAR_UPDATER","STATUS","NUMBER_ASSOCIATED_DOMAINS"]}
        required: true
      responses:
        '200':
          description: Successfully started export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostExportRegistrarRequestDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/hosts/{hostRoid}/operation-history:
    get:
      tags:
        - host-registrar-controller
      summary: List operations processed on a host
      operationId: getHostHistoryOperations_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: hostRoid
          in: path
          description: Host roid to get history operation
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            enum:
              - NAME
              - CREATION_DATE
              - UPDATE_DATE
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully retrieved operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectHistoResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/registrar/registry-lock/requests:
    get:
      tags:
        - registry-lock-request-registrar-controller
      summary: List registrar's registry lock request
      operationId: list_18_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: research
          in: query
          description: label you want to search related to registryLockRequestSearchField
        - name: registryLockRequestSearchField
          in: query
          description: parameter of what you want to search on
          schema:
            default: DOMAIN_NAME
            enum:
              - DOMAIN_NAME
              - REGISTRANT_CLIENT_ID
        - name: stringSearchType
          in: query
          description: operator of your search
          schema:
            default: LIKE
            enum:
              - EQUALS
              - LIKE
        - name: startDate
          in: query
          description: starting date of your search with registryLockRequestDateField
        - name: endDate
          in: query
          description: ending date of your search with registryLockRequestDateField
        - name: status
          in: query
          description: status of the registry lock request
          schema:
            enum:
              - LOCKED
              - TEMPORARY_UNLOCK
              - EMERGENCY_TEMPORARY_UNLOCK
        - name: registryLockRequestDateField
          in: query
          description: type of date you want to search on     
          schema:
            default: CREATION_DATE
            enum:
              - CREATION_DATE
              - UPDATE_DATE
        - name: type
          in: query
          description: type of registry lock request       
          schema:
            default: NEW_LOCK_REQUEST
            enum:
              - NEW_LOCK_REQUEST
              - TEMPORARY_UNLOCK
              - PERMANENT_UNLOCK
              - EMERGENCY_TEMPORARY_UNLOCK
              - EMERGENCY_PERMANENT_UNLOCK
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute          
          schema:
            enum:
              - REQUEST_ROID
              - REQUEST_TYPE
              - CREATION_DATE
              - UPDATE_DATE
              - STATUS
        - name: sortDirection
          in: query
          description: sorting direction         
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RegistryLockRequestListRegistrarResponseDto
      security:
        - keycloak: []
  /v1/registrar/registry-lock/requests/{repositoryObjectId}:
    get:
      tags:
        - registry-lock-request-registrar-controller
      summary: Get information on a registry lock request
      operationId: info_40_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: repositoryObjectId
          in: path
          description: The identifier of registry lock request (roid) to look for
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Request found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RegistryLockRequestInfoRegistrarResponseDto
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: Request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/registrar/authorization-code-requests/{repositoryObjectId}:
    get:
      tags:
        - authorization-code-registrar-controller
      summary: Get information for authorization code request
      operationId: info_41_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: repositoryObjectId
          in: path
          description: The identifier of authorization code request to look for
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Authorization code request found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthorizationCodeRequestRegistrarInfoResponseDto
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: Authorization code request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/registrar/authorization-code-requests:
    get:
      tags:
        - authorization-code-registrar-controller
      summary: List the authorization code requests
      operationId: getAuthorizationCodeRequestList_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute          
          schema:
            enum:
              - REQUEST_ROID
              - REGISTRANT_CLIENT_ID
              - REGISTRANT_NAME
              - DOMAIN_NAME
              - JUSTIFICATION
              - CREATION_DATE
              - UPDATE_DATE
              - CODE_EXPIRATION_DATE
        - name: status
          in: query
          description: status of the authorization code you want to search
          schema:
            enum:
              - INIT
              - PENDING
              - BLOCKED_BY_PREVIOUS
              - WAITING_RESPONSE
              - ANSWERED
              - ACCEPTED
              - REGISTRAR_CANCELED
              - REGISTRY_CANCELED
              - CLOSED_EXPIRED_CODE
              - CLOSED_PREVIOUS_ACCEPTED
              - REFUSED
              - CODE_USED
              - WAITING_RESPONSE_EXPIRED
        - name: sortDirection
          in: query
          description: sorting direction          
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully retrieved list
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthorizationCodeRequestRegistrarListResponseDto
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: No authorization code's requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
    post:
      tags:
        - authorization-code-registrar-controller
      summary: Request authorization code for a domain
      operationId: create_22_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Authorization request to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodeRequestCreateDto'
        required: true
      responses:
        '201':
          description: Successfully created request for authorization code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodeRequestCreateResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/batch/transfer:
    post:
      tags:
        - domain-batch-registrar-controller
      summary: transfer a list of Domain
      operationId: domainBatchToTransfer_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain objects to transfer
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: list of columns needed - technicalContacts, adminContacts, authorizationInformation, name, keepDnsSec
        required: true
      responses:
        '200':
          description: Successfully execute demand
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchStatusListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occured
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/batch/import:
    post:
      tags:
        - domain-batch-registrar-controller
      summary: Create a list of Domain
      operationId: domainBatchToCreate_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain objects to import
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: list of columns needed - technicalContacts, adminContacts, authorizationInformation, duration, nameServers, dnsSecList, name, registrantContact
        required: true
      responses:
        '200':
          description: Successfully execute demand
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchStatusListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occured
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/batch/delete:
    post:
      tags:
        - domain-batch-registrar-controller
      summary: delete a list of Domain
      operationId: domainBatchToDelete_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain objects to delete
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: list of columns needed - name
        required: true
      responses:
        '200':
          description: Successfully execute demand
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchStatusListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occured
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/batch/update:
    post:
      tags:
        - domain-batch-registrar-controller
      summary: update a list of domain
      operationId: domainBatchToUpdate_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain objects to update
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: list of columns needed - adminContactsToRemove, adminContactsToAdd, dnsSecToRemoveList, name, technicalContactsToRemove, registrantClientId, authorizationInformation, technicalContactsToAdd, dnsSecToAddList, eppStatusesToAdd, eppStatusesToRemove, nameServersToAdd, nameServersToRemove
        required: true
      responses:
        '200':
          description: Successfully execute demand
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchStatusListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occured
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/batch/renew:
    post:
      tags:
        - domain-batch-registrar-controller
      summary: renew a list of Domain
      operationId: domainBatchToRenew_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain objects to renew
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: list of columns needed - name, durationInYears, currentExpirationDate
        required: true
      responses:
        '200':
          description: Successfully execute demand
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchStatusListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occured
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/domains/batch/restore:
    post:
      tags:
        - domain-batch-registrar-controller
      summary: restore a list of Domain
      operationId: domainBatchToRestore_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: The list of domain objects to restore
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: list of columns needed - name                 
        required: true
      responses:
        '200':
          description: Successfully execute demand
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchStatusListResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occured
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/contacts:
    get:
      tags:
        - contact-registrar-controller
      summary: List registrar's sponsored contacts
      operationId: getContacts_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute          
          schema:
            enum:
              - NAME
              - CREATION_DATE
              - UPDATE_DATE
        - name: sortDirection
          in: query
          description: sorting direction          
          schema:
            enum:
              - ASC
              - DESC
        - name: clientId
          in: query
          description: ROID without suffix -FRNIC you want to search     
        - name: roid
          in: query
          description: NICHANDLE you want to search
        - name: name
          in: query
          description: contact name you want to search
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListRegistrarResponseDto'
      security:
        - keycloak: []
    post:
      tags:
        - contact-registrar-controller
      summary: Create a contact
      operationId: create_23_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (FRNIC_V2 required to manage .fr specific data)
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: contact object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateDto'
            examples:
              contactcreate1:
                summary: create a moral contact with facultative company data (SIREN)
                value: {"email":"test@lala.fr","telephoneNumber":"+33.616808073","authorizationInformation":"example","localizedPostalInfo":{"contactName":"Test","organizationName":"Afnic","postalAddress":{"firstStreet":"1 rue du test","secondStreet":"CEDEX","complementaryStreet":"78415","cityName":"Magnoncourt","stateOrProvinceName":"Hauts-de-France","postalCode":"59800","countryCode":"FR"}},"extensions":{"frnic":{"moral":{"legalStatus":"COMPANY","siren":123456789}}}}
              contactcreate2:
                summary: create a moral contact with all the mandatory fields
                value: {"email":"example@nature.fr","telephoneNumber":"+33.167545632","authorizationInformation":"example","localizedPostalInfo":{"contactName":"Test","postalAddress":{"firstStreet":"1 rue du test 1637920527787","cityName":"Sionne","postalCode":"88630","countryCode":"FR"}},"extensions":{"frnic":{"moral":{"legalStatus":"OTHER"}}}}
              contactcreate3:
                summary: create an individual contact with all the mandatory fields
                value: {"email":"example@nature.fr","telephoneNumber":"+33.167545632","authorizationInformation":"example","localizedPostalInfo":{"contactName":"Lepers","postalAddress":{"firstStreet":"1 rue du test 1637920527787","cityName":"Sionne","postalCode":"88630","countryCode":"FR"}},"extensions":{"frnic":{"physical":{"firstName": "Julien"}}}}
        required: true
      responses:
        '201':
          description: Successfully created contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
    patch:
      tags:
        - contact-registrar-controller
      summary: Update a contact
      operationId: update_28_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: extensions
          in: header
          description: specify an EPP extension if needed (FRNIC_V2 to manage .fr specific data)
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      requestBody:
        description: Contact object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateDto'
            examples:
              contactupdate1:
                summary: change the phone number of a contact
                value: {"clientId": "C8711","telephoneNumber": "+33.145784578"}
              contactupdate2:
                summary: change the eligibility and reachability of a contact (FRNIC_V2 needed)
                value: {"clientId": "C8711","extensions":{"frnic":{"eligibilityVerified": true,"reachable": {"reachable": true,"medium": "voice"}}}}
              contactupdate3:
                summary: adding an EPP status
                value: {"clientId": "C8711","addEppStatuses": ["CLIENT_UPDATE_PROHIBITED"]}
              contactupdate4:
                summary: change the postal address and the email
                value: {"clientId": "C8711","localizedPostalInfo": {"postalAddress": {"firstStreet": "1 rue de la paix","secondStreet": "CEDEX","cityName": "Dada","postalCode": "47414","countryCode": "FR"}},"email":"test@example.fr"}
        required: true
      responses:
        '200':
          description: Successfully updated contact object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSimpleResponseDto'
        '400':
          description: 'Bad request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
        '404':
          description: 'Not found, please check your command'
          content:
            application/json:
              schema:
                type: string
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/contacts/{clientId}:
    get:
      tags:
        - contact-registrar-controller
      summary: Get information on a contact
      operationId: info_42_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: clientId
          in: path
          description: The identifier of contact (clientId) to look for
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Contact found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfoRegistrarResponseDto'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
    delete:
      tags:
        - contact-registrar-controller
      summary: Delete a contact object
      operationId: delete_18_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: clientId
          in: path
          description: Contact clientId that needs to be deleted
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Contact deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSimpleResponseDto'
        '400':
          description: Cannot handle request because of business rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
      security:
        - keycloak: []
  /v1/contacts/{contactRoid}/operation-history:
    get:
      tags:
        - contact-registrar-controller
      summary: List operations processed on a contact
      operationId: getContactHistoryOperations_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: contactRoid
          in: path
          description: Contact roid to get history operation
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute          
          schema:
            enum:
              - NAME
              - CREATION_DATE
              - UPDATE_DATE
        - name: sortDirection
          in: query
          description: sorting direction          
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully retrieved operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectHistoResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/object-storage/download/{uuid}:
    get:
      tags:
        - object-storage-controller
      summary: Get file from server
      operationId: downloadFile_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: uuid
          in: path
          description: identifier of the file you want to download
          required: true
          schema:
            type: string
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully retrieved file
          content:
            '*/*':
              schema:
                type: string
        '400':
          description: 'Impossible request, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '404':
          description: 'File not found, please check your command'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
  /v1/policies:
    get:
      tags:
        - registry-policies-controller
      summary: Retrieve registry policy values
      operationId: getRegistryPolicies_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Registry Policies have been returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryPoliciesProperties'
        '500':
          description: Problem to get infos from Registry Policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorsDto'
  /v1/exports:
    get:
      tags:
        - export-controller
      summary: List exports information
      operationId: getExportsMetadata_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1
      parameters:
        - name: page
          in: query
          description: select page number you want
        - name: pageSize
          in: query
          description: select the number of elements you want by page
        - name: sortAttribute
          in: query
          description: sorting attribute
          schema:
            enum:
              - CREATION_DATE
        - name: sortDirection
          in: query
          description: sorting direction
          schema:
            enum:
              - ASC
              - DESC
        - name: CLIENT_REQUEST_ID
          in: header
          description: specifiy a request identifier
      responses:
        '200':
          description: Successfully retrieved operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportMetadataListElementResponseDto'
        '400':
          description: 'Impossible request, please check your command'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
        '500':
          description: An internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestErrorDto'
      security:
        - keycloak: []
components:
  schemas:
    BillingImportRequestDto:
      required:
        - fileUUID
      type: object
      properties:
        fileUUID:
          type: string
        alreadyPaid:
          type: boolean
    BillingArchiveImportResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        creationDate:
          type: string
          format: date-time
    BillingListElementResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        billingDocumentId:
          type: string
          format: uuid
        registrarRoid:
          type: string
        registrarName:
          type: string
        billingNumber:
          type: integer
          format: int32
        billingIssuanceDate:
          type: string
        paid:
          type: boolean
        paymentDate:
          type: string
        documentCreationDate:
          type: string
        registrarClientCode:
          type: string
        registrarContractId:
          type: integer
          format: int64
        price:
          type: number
    BillingListResponseDto:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        content:
          type: array
          items:
            $ref: '#/components/schemas/BillingListElementResponseDto'
    BillingUpdateRegistryRequestDto:
      type: object
      properties:
        paid:
          type: boolean
    BillingUpdateRegistryResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        paymentDate:
          type: string
          format: date-time
    BillingDeleteRegistryResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        deleteDate:
          type: string
          format: date-time
    BillingExportRegistryRequestDto:
      required:
        - csvSeparator
        - dateRangeDto
      type: object
      properties:
        csvSeparator:
          type: string
        propertiesOrder:
          type: array
          items:
            type: string
        dateRangeDto:
          $ref: '#/components/schemas/DateRangeDto'
    DateRangeDto:
      type: object
      properties:
        startDate:
          type: string
        endDate:
          type: string
    BillingExportRegistryResponseDto:
      type: object
      properties:
        id:
          type: string
    RestErrorDto:
      required:
        - errorCode
      type: object
      properties:
        errorCode:
          type: string
          description: The error code
          enum:
            - UNABLE_TO_CONNECT_WHOIS43_SERVER
            - UNABLE_TO_GET_WHOIS43_SERVER_RESPONSE
            - NOT_FOUND_COUNTRY_CODE
            - NOT_FOUND_ENTITY
            - UNKNOWN_EXTENSION
            - MESSAGE_TIMEOUT
            - READ_ONLY_OPERATION_REQUEST_TIMEOUT
            - MODIFYING_OPERATION_REQUEST_TIMEOUT
            - NOTHING_TO_UPDATE
            - BAD_REQUEST
            - UNAUTHORIZED
            - NOT_FOUND
            - MALFORMED_REQUEST
            - INVALID_LOCALE
            - NOT_FOUND_FILE_LOCALE
            - UNKNOWN_SEARCH_TYPE
            - UNKNOWN_SIMPLE_SEARCH_TYPE
            - UNKNOWN_SEARCH_OPERATOR
            - EXCEED_DECIMAL_LIMIT
            - MUST_BE_POSITIVE_INTEGER
            - ERROR_CHANGING_PASSWORD
            - MISSING_OPERATION_IN_HISTORY
            - ALREADY_ASSOCIATED_FILE
            - FILE_CAN_BE_ASSOCIATED_ONLY_ONCE
            - FILE_UUID_CANNOT_BE_IN_ADD_AND_REMOVE_LIST
            - FILE_UPLOADED_BY_REGISTRAR_CANNOT_BE_REMOVED_BY_REGISTRY
            - FILE_UPLOADED_BY_REGISTRAR_CANNOT_BE_UPDATED_BY_REGISTRY
            - NOT_MAPPED_REGISTRY_ACTION
            - FILE_ALREADY_EXIST
            - FILE_UPLOADED_BY_REGISTRY_CANNOT_BE_REMOVED_BY_REGISTRAR
            - FILE_CANNOT_BE_SHARED_WITH_REGISTRAR
            - FIELD_MAX_SIZE_255
            - UPDATE_NEED_AT_LEAST_ONE_INITIALIZED_FIELD
            - NOT_IMPLEMENTED_OPERATION
            - DATE_MUST_BE_IN_FUTURE
            - BATCH_OPERATION_DOES_NOT_BELONG_TO_REGISTRY_UPDATE_NOT_ALLOWED
            - CONTEXT_INITIALIZATION_ERROR
            - INVALID_CLIENT_REQUEST_ID_LENGTH
            - NOT_FOUND_REGISTRY_IDENTIFIER
            - NOT_FOUND_REGISTRAR
            - NOT_FOUND_REGISTRAR_IDENTIFIER
            - UNKNOWN_REGISTRAR_STATUS
            - WHOIS_SERVER_EXCEEDS_MAX_SIZE
            - WEBSITE_EXCEEDS_MAX_SIZE
            - KEYCLOAK_GROUP_HAS_NOT_BEEN_CREATED
            - KEYCLOAK_USER_HAS_NOT_BEEN_CREATED
            - KEYCLOAK_ACTIONS_EMAIL_NOT_SENT
            - NULL_REGISTRAR_ROID
            - ALREADY_EXISTS_KEYCLOAK_REGISTRAR_GROUP
            - ALREADY_EXISTS_KEYCLOAK_USERNAME
            - REGISTRAR_GURID_ALREADY_EXISTS
            - UNKNOWN_REGISTRAR_TRANSFER_ROLE
            - REGISTRAR_CANT_UPDATE_GURID_NEED_NEW_RA_STATUS
            - OBJECT_IN_PENDING_CREATE
            - OBJECT_IN_PENDING_UPDATE
            - OBJECT_IN_PENDING_TRANSFER
            - OBJECT_IN_PENDING_DELETE
            - OBJECT_IN_PENDING_RENEW
            - OBJECT_IN_SERVER_UPDATE_PROHIBITED
            - OBJECT_IN_CLIENT_UPDATE_PROHIBITED
            - OBJECT_IN_SERVER_DELETE_PROHIBITED
            - OBJECT_IN_CLIENT_DELETE_PROHIBITED
            - OBJECT_IN_SERVER_TRANSFER_PROHIBITED
            - OBJECT_IN_CLIENT_TRANSFER_PROHIBITED
            - OBJECT_IN_SERVER_RECOVER_PROHIBITED
            - OBJECT_IN_SERVER_TRADE_PROHIBITED
            - OBJECT_NOT_IN_PENDING_DELETE
            - OBJECT_NOT_IN_REDEMPTION_PERIOD
            - OBJECT_NOT_IN_PENDING_RESTORE
            - OPERATION_FORBIDDEN
            - CANNOT_ADD_OR_REMOVE_EPP_STATUS
            - INVALID_SORT_ATTRIBUTE
            - INVALID_SORT_DIRECTION
            - INVALID_PAGE_SIZE
            - INVALID_PAGE_NUMBER
            - CANNOT_BE_EMPTY
            - CANNOT_BE_NULL
            - CANNOT_BE_BLANK
            - CANNOT_BE_NULL_OR_EMPTY
            - VALUE_CANNOT_BE_BLANK_IF_DEFINED
            - EXCEED_MAX
            - NOT_IN_RANGE
            - FIELD_EXCEEDS_MAX_SIZE
            - INVALID_PRICE_STRING
            - NOT_FOUND_USER_PREFERENCE
            - JSON_FIELD_IS_NULL
            - JSON_FIELD_IS_NOT_JSON
            - JSON_FIELD_IS_TOO_LONG
            - USERNAME_IS_BLANK_OR_NULL
            - NULL_HOST_NAME
            - ALREADY_EXISTS_HOST_NAME
            - HOST_UPDATE_NAME_MUST_BE_DIFFERENT_FROM_CURRENT_NAME
            - UNKNOWN_IP_VERSION
            - INVALID_IPV4_FORMAT
            - INVALID_IPV6_FORMAT
            - NOT_AUTHORIZED_IPV6_FORMAT
            - NULL_IP_VALUE
            - SAME_IP_ALREADY_GIVEN_IN_PARAMETER
            - SAME_EPP_STATUS_ALREADY_GIVEN_IN_PARAMETER
            - NOT_FOUND_HOST_NAME
            - NOT_FOUND_HOST_WITH_ROID
            - ALREADY_EXISTS_IP_ADDRESS_CANNOT_BE_ADDED
            - NOT_FOUND_IP_ADDRESS
            - EXCEED_MAX_ALLOWED_IP_ADDRESSES_NUMBER
            - EXCEED_MAX_ALLOWED_HOST_CHECK_NUMBER
            - ALREADY_EXISTING_EPP_STATUS_CANNOT_BE_ADDED_AGAIN
            - EPP_STATUS_NOT_FOUND_CANNOT_BE_REMOVED
            - IP_ADDRESS_CANNOT_BE_IN_ADD_AND_REMOVE_LIST
            - EPP_STATUS_CANNOT_BE_IN_ADD_AND_REMOVE_LIST
            - UNKNOWN_HOST_STATUS
            - NOT_ALLOWED_EPP_STATUS
            - HOST_UPDATE_NEED_AT_LEAST_ONE_INITIALIZED_FIELD
            - HOST_IN_LIMITATION_PROHIBITED
            - INVALID_HOST_NAME
            - INVALID_HOST_EXTENSION
            - >-
              REGISTRAR_SPONSOR_FOR_HOST_AND_SUPERORDINATE_DOMAIN_ARE_NOT_THE_SAME
            - NOT_FOUND_SUPERORDINATE_DOMAIN_FOR_INTERNAL_HOST
            - EMPTY_HOST_NAMES_TO_CHECK
            - IP_ADDRESS_NOT_ALLOWED_FOR_EXTERNAL_HOST
            - CANNOT_DELETE_HOST_ASSOCIATED_WITH_DOMAIN
            - CANNOT_DELETE_FORBIDDEN_OPERATION
            - EXTERNAL_HOST_NAME_USED_BY_DOMAINS_SPONSORED_BY_OTHER_REGISTRARS
            - GLUE_RECORD_HOST_NEED_IP_ADDRESSES
            - CONTACT_UPDATE_NEED_AT_LEAST_ONE_INITIALIZED_FIELD
            - SUPERORDINATE_DOMAIN_EPP_STATUSES_FORBID_HOST_OPERATION
            - HOST_NAME_CANNOT_BE_UPDATED_WITH_EMPTY_VALUE
            - EMPTY_HOST_NAME
            - UNKNOWN_CONTACT_STATUS
            - UNKNOWN_CONTACT_REGISTRY_STATUS
            - EMPTY_CONTACT_CLIENT_ID
            - NOT_FOUND_CONTACT
            - NOT_FOUND_CONTACT_FOR_IDENTIFIER
            - EMPTY_CLIENT_IDS_TO_CHECK
            - EMPTY_CLIENT_ID_TO_CHECK
            - EMPTY_TELEPHONE_NUMBER
            - EMPTY_EMAIL_ADDRESS
            - NULL_LOCALIZED_POSTAL_INFO
            - INVALID_EMAIL_ADDRESS
            - EMPTY_CONTACT_NAME
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_CONTACTNAME
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_CONTACTNAME
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_ORGANIZATIONNAME
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_ORGANIZATIONNAME
            - NULL_CONTACT_POSTAL_ADDRESS
            - EMPTY_CONTACT_FIRST_STREET
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_FIRSTSTREET
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_FIRSTSTREET
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_SECONDSTREET
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_SECONDSTREET
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_COMPLEMENTARYSTREET
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_COMPLEMENTARYSTREET
            - EMPTY_CONTACT_CITY
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_CITYNAME
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_CITYNAME
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_STATEORPROVINCENAME
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_STATEORPROVINCENAME
            - INVALID_CHARSET_FOR_CONTACT_INTERNATIONALIZED_POSTALCODE
            - INVALID_CHARSET_FOR_CONTACT_LOCALIZED_POSTALCODE
            - EMPTY_CONTACT_COUNTRY_CODE
            - TELEPHONE_CANNOT_BE_BLANK_IF_DEFINED
            - TELEPHONE_IDENTIFICATION_CODE_WITHOUT_TELEPHONE_NUMBER
            - FAX_CANNOT_BE_BLANK_IF_DEFINED
            - FAX_IDENTIFICATION_CODE_WITHOUT_FAX_NUMBER
            - TELEPHONE_IDENTIFICATION_CODE_CANNOT_BE_BLANK_IF_DEFINED
            - FAX_IDENTIFICATION_CODE_CANNOT_BE_BLANK_IF_DEFINED
            - CANNOT_DELETE_CONTACT_WITH_THIS_EPP_STATUS
            - INVALID_TELEPHONE_NUMBER
            - INVALID_ABUSE_TELEPHONE_NUMBER
            - INVALID_FAX_NUMBER
            - EXPECTING_AT_LEAST_ONE_DISCLOSE_FLAG
            - CANNOT_DELETE_CONTACT_ASSOCIATED_TO_DOMAINS
            - EMAIL_ADDRESS_CANNOT_BE_UPDATED_WITH_EMPTY_VALUE
            - CONTACT_NAME_CANNOT_BE_UPDATED_WITH_EMPTY_VALUE
            - FIRST_STREET_CANNOT_BE_UPDATED_WITH_EMPTY_VALUE
            - CITY_NAME_CANNOT_BE_UPDATED_WITH_EMPTY_VALUE
            - COUNTRY_CODE_CANNOT_BE_UPDATED_WITH_EMPTY_VALUE
            - SECOND_STREET_CANNOT_BE_BLANK_IF_DEFINED
            - COMPLEMENTARY_STREET_CANNOT_BE_BLANK_IF_DEFINED
            - STATE_OR_PROVINCE_NAME_CANNOT_BE_BLANK_IF_DEFINED
            - POSTAL_CODE_CANNOT_BE_BLANK_IF_DEFINED
            - ORGANIZATION_NAME_CANNOT_BE_BLANK_IF_DEFINED
            - INVALID_FRENCH_POSTAL_CODE
            - POSTAL_CODE_CANNOT_BE_NULL
            - INVALID_CONTACT_CLIENT_ID
            - EXCEED_MAX_ALLOWED_CLIENT_IDS_CHECK_NUMBER
            - TELEPHONE_IDENTIFICATION_CODE_EXCEEDS_MAX_SIZE
            - FAX_IDENTIFICATION_CODE_EXCEEDS_MAX_SIZE
            - STREET_EXCEEDS_MAX_SIZE
            - CITY_NAME_EXCEEDS_MAX_SIZE
            - STATE_OR_PROVINCE_NAME_EXCEEDS_MAX_SIZE
            - POSTAL_CODE_EXCEEDS_MAX_SIZE
            - CONTACT_NAME_EXCEEDS_MAX_SIZE
            - ORGANIZATION_EXCEEDS_MAX_SIZE
            - NOT_FOUND_CONTACT_WITH_ROID
            - INVALID_CHARSET_FOR_CONTACT_FIRST_NAME
            - EMPTY_DOMAIN_LIST
            - EMPTY_DOMAIN_NAME
            - EMPTY_DOMAIN_CONTACT_CLIENT_ID
            - EMPTY_DOMAIN_AUTH_INFO
            - ALREADY_EXISTS_DOMAIN_NAME
            - ADMINISTRATIVE_CONTACT_NOT_BELONGING_TO_REGISTRAR
            - BILLING_CONTACT_NOT_BELONGING_TO_REGISTRAR
            - TECHNICAL_CONTACT_NOT_BELONGING_TO_REGISTRAR
            - REGISTRANT_CONTACT_NOT_BELONGING_TO_REGISTRAR
            - CONTACT_NOT_BELONGING_TO_REGISTRAR
            - NOT_FOUND_REGISTRANT_CONTACT
            - NOT_FOUND_HOST_OBJECT
            - NOT_FOUND_TECHNICAL_CONTACT
            - NOT_FOUND_ADMINISTRATIVE_CONTACT
            - NOT_FOUND_BILL
            - NOT_FOUND_BILLING_CONTACT
            - NOT_FOUND_BUSINESS_CONTACT
            - NOT_FOUND_NOC_CONTACT
            - NOT_FOUND_COMPANY_CONTACT
            - NOT_FOUND_PRODUCT_CONTACT
            - NOT_FOUND_DOMAIN_NAME_WITH_NAME
            - NOT_FOUND_DOMAIN_NAME_WITH_ROID
            - NOT_FOUND_DOMAIN_NAME_WITH_ID
            - NOT_ALLOWED_REGISTRAR
            - NOT_MATCHING_AUTH_INFO
            - DOMAIN_TRANSFER_ALREADY_REJECTED
            - EMPTY_DOMAIN_NAMES_TO_CHECK
            - EXCEED_MAX_ALLOWED_NAME_SERVERS
            - SAME_NAME_SERVERS_ALREADY_GIVEN_IN_PARAMETER
            - SAME_DNSSEC_ALREADY_GIVEN_IN_PARAMETER
[...]
