* {
  box-sizing: border-box;
}

html[data-theme='modern'] {
  color-scheme: light;
}

html[data-theme='modern'] ::selection {
  background: #22afca;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
